@model IEnumerable<DB.Domain.User>

@{
    ViewData["Title"] = "Acesso aos Menus";
}
<div>
<h2><li><a href="User">Menu User</a></li></h2>
<h2><li><a asp-action="Product">Menu Product</a></li></h2>
</div>

