<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionAlfa" connectionString= "Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AtivSem03;Data Source=DESKTOP-EJA8B8K\SQLEXPRESS" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>